@model IEnumerable<DTO.Restaurant>

    @{
        ViewData["Title"] = "ListRestaurants";
        string cityname = "";
        foreach (var restaurant in Model)
        {
            cityname = restaurant.city.name;
            break;
        }
    }

    <div class="row">
        <p><h2>Restaurants de @cityname</h2></p>


        @foreach (var restaurant in Model)
        {

            <div class="col-md-4">
                <h3>@restaurant.merchant_name</h3>
                <a href="@Url.Action("ListDishes", "Restaurants", new { id = restaurant.id})" title="Widget View" class="links">
                    <img src="@Url.Content("~/images/restaurants/_placeholder.jpg")" width="300" height="200" />
                </a>
            </div>


        }
    </div>