@using Microsoft.AspNetCore.Http
@model DTO.Customer

@{
    ViewData["Title"] = "Me";
}

<h2>Mon compte</h2>
@{ if (@Context.Session.GetInt32("updatedCustomerInformation").GetValueOrDefault() == 1)
    {
        Context.Session.Remove("updatedCustomerInformation");
        <div class="alert alert-success" id="success-alert">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <strong>Super! </strong> Informations mises à jour &#128516;
        </div>
        <script>
            $("#success-alert").fadeTo(5000, 500).slideUp(500, function () {
                $("#success-alert").slideUp(500);
            });
        </script>
    }

    if (@Context.Session.GetInt32("newPasswordsDoNotMatch").GetValueOrDefault() == 1)
    {
        <div class="alert alert-danger" id="success-error">
            <button type="button" class="close" data-dismiss="alert">x</button>
            Les nouveaux mots de passe ne correspondent pas !
        </div>
        Context.Session.Remove("newPasswordsDoNotMatch");
    }

    if (@Context.Session.GetInt32("currentPasswordDoesNotMatch").GetValueOrDefault() == 1)
    {
        <div class="alert alert-danger" id="success-error">
            <button type="button" class="close" data-dismiss="alert">x</button>
            Le mot de passe actuel est incorrect !
        </div>
        Context.Session.Remove("currentPasswordDoesNotMatch");
    }
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateCustomerInformation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="id" class="form-control" type="hidden" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="username" class="control-label">Pseudo</label>
                <input asp-for="username" class="form-control" readonly />
                <span asp-validation-for="username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label">Ancien mot de passe</label>
                <input asp-for="password" class="form-control" type="password" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label">Nouveau mot de passe</label>
                <input asp-for="password" class="form-control" type="password" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label">Confirmation nouveau mot de passe</label>
                <input asp-for="password" class="form-control" type="password" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="full_name" class="control-label">Nom</label>
                <input asp-for="full_name" class="form-control" />
                <span asp-validation-for="full_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="address" class="control-label">Adresse</label>
                <input asp-for="address" class="form-control" />
                <span asp-validation-for="address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="city" class="control-label">Ville</label><br />
                @Html.DropDownList("cities", ViewBag.CityList as SelectList)
            </div>
            <div class="form-group">
                <input type="submit" value="Valider" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

